---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">首页</a>
        <a href="/about/">关于</a>
        <a href="/blog">博客</a>

		<h1>我的 About 页面</h1>
		<h2>HoshimiRox1和我的新Astro网站！</h2>
        <p>这里是基于 Astro 官方教程所建的第二个页面</p>
        <p>随着更多教程的晚餐，我会不断更新这个网站的内容。</p>
	</body>
</html>
